topic = "${topic}"

cluster_id = "${cluster_id}"
prometheus_url = "${prometheus_url}"
delay_sec = ${prometheus_delay_sec}

[kafka]
"bootstrap.servers" = "${broker_urls}"
"group.id"= "${consumer_name}"

"security.protocol" = "SASL_SSL"
"sasl.mechanisms" = "SCRAM-SHA-256"
"sasl.username" = "${kafka_username}"
"sasl.password" = "${kafka_password}"

"auto.offset.reset" = "earliest"
